<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Weather in {{city}}</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <div class='container'>
      <h1>Weather in {{city}}</h1>
      <ul>
        <li>Temperature: {{temperature}} °C</li>
        <li>Humidity: {{humidity}}%</li>
        <li>Wind Speed: {{wind}} m/s</li>
      </ul>
      <a href='/'>Search again</a>
    </div>
  </body>
</html>